* {
  margin: 0 auto;
  box-sizing: border-box;
}
.hiden {
  visibility: hidden;
}

.showed {
  visibility: visible;
}

.wrapper {
  display: flex;
  justify-content: space-around;
  width: 1440px;
}

.weather {
  width: 20%;
  position: absolute;
  right: 100px;
  display: flex;
  flex-direction: column;
}
#spinner > img {
  width: 30px;
  height: 30px;
}
